/*
* Colors
*/

/* main colors */

$green: #09bda0;
$light-blue: #008899;
$medium-blue: #064b75;
$blue: #022438;
$red: #e11f3b;

/*secondary colors */

$darkest-blue: #021a29;
$blue-grey: #81929c;
$lightest-grey:#f2f2f2;
$white:#fff;
$gold:#fbb03b;

/*low light mode*/
$low-bg:#081724;
$low-card-bg:#0a1d2d;
$low-card-overlay:#162938;

/*additional colors*/
$blue-black:#01111a;
$night-crawler:#021926;
$radar:#1b182e;
$storm:#0e1920;
$jean-grey:#122029;

